<form action="/add" method="post">
    <br>
    <ol>
        <li><label for="">Title</label></li>
        <select Title="Title" id="">
            <option value="" disabled selected hidden>choose title</option>
            <option value="Mr">Mr</option>
            <option value="Mrs">Ms</option>
            <option value="Ms">Mrs</option>
            <option value="Dr">Dr</option>
            <option value="Sir">Sir</option>
        </select>

        <li><label for="">Firstname</label></li>

        <input type="text" Firstname="Firstname" id="Firstname">

        <li><label for="">Lastname</label></li>

        <input type="text" Lastname="Firstname" id="Lastname">

        <li><label for="">enter Position</label></li>

        <select Position="Position" id="">
            <option value="" disabled selected hidden>select Position</option>
            <option value="CEO">CEO</option>
            <option value="Manager">Manager</option>
            <option value="Employee">Employee</option>
        </select>

         <li><label for="">Company</label></li>

        <input type="text" Company="Company" id="Company">

        <br>

        <button type="submit">Register Badge</button>
    </ol>
</form>